
.GW{
    background-color: goldenrod;
}

.Z{
    background-color: rgb(66, 185, 221);
}

.WAW{
    background-color: darkgreen;
}

.M365{
  background-color: coral;  
}

.Sck{
    background-color:violet;
}